/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  max-width: 100% !important;
  padding: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height:300px;
  float: left;
  width: 100%;
  border: 0;
  }
  
 @media all and (max-width:768px) {
.rslides img
	{
		height:120px !important;
	}
	
.sliderbox
	{
		padding:15px 20px !important;
	}
.rslides_tabs a, .rslides_tabs
	{
		display:none !important;
	}
	
 }
  
.sliderbox
	{
		max-width:980px;
		margin:4px auto 0;
		padding:15px 0px;
		background:#fff;
	}
	
.rslides_tabs {
  list-style: none;
  padding: 0; 
  font-size: 18px;
  list-style: none;
  margin:-42px 0;
  padding: 10px 0;
  text-align:right;
  position:absolute;
  width: 100%;
  z-index:99999;
  text-align:center;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 4px;
  }

 .rslides_tabs a {  width: auto;  padding: 4px 6px;  height: auto;  background:url(../images/slider_yellow_dot.png) no-repeat 0 3px;  display: inline;  font-size:10px;  color:#FDE000;  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {  background:url(../images/slider_blue_dot.png) no-repeat 0 3px;  color: #007cba;  }
  
@media all and (max-width:768px)
	{
.sliderbox
	{
		margin:0 5px;
		padding:3px !important;
	}
	
.rslides_tabs
	{
		max-width:725px;
	}
	}
	
@media all and (max-width:768px)
	{
.rslides_tabs
	{
		display:none;
	}


	}
